* {
    padding: 0;
    margin: 0;
}

body {
    width: calc(100% - 40px);
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;;
    font-weight: normal;
    color: #767676;
    margin-left: 40px;
}

span {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div {
    position: relative;
    height: 100px;
    width: 200px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: rgba(255,255,255,0.79);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border-radius: 30px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 16px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 16px;
}

.deleteButton, .editButton {
    position: absolute;
    padding: 0;
    height: 30px;
    width: 30px;
    background-color: white;
    border: none;
    bottom: 10px;
}

.editButton {
    right: 60px;
}

.deleteButton {
    right: 20px;
}

.deleteButton > img, .editButton > img {
    height: 30px;
}

h1, p {
    padding-left: 20px;
}

p {
    position: absolute;
    top: 35px;
}

#create {
    background-color: #20C800;
    border: none;
    border-radius: 20px;
    height: 50px;
    width: 150px;
    color: white;
    position: absolute;
    top: 25px;
    left: 25px;
    font-size: 16px;
}

#createBox, #editBox {
    z-index: 100;
    position: absolute;
    display: none;
    height: 350px;
    width: 666px;
    background-color: rgba(255,255,255,0.79);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border-radius: 30px;
    top: calc(50% - 175px);
    left: calc(50% - 333px);
    -webkit-transform: scale(100vh/1080);
    -ms-transform: scale(100vh/1080);
    transform: scale(100vh/1080);
}

#h2_create, #h2_edit {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    font-size: 57px;
    color: #767676;
}

input {
    position: absolute;
    width: 591px;
    height: 52px;
    left: 29px;
    background-color: white;
    color: #767676;
    -webkit-box-shadow: 0px 3px 16px rgba(0,0,0,0.16);
    box-shadow: 0px 3px 16px rgba(0,0,0,0.16);
    border: none;
    font-size: 24px;
    border-radius: 15px;
    padding-left: 17px;
}

#companyName, #editName {
    top: 93px;
}

#companyAddress, #editAddress {
    top: 170px;
}

#createButton, #editButton {
    position: absolute;
    width: 159px;
    height: 57px;
    color: #20C800;
    font-size: 33px;
    border-radius: 30px;
    border: none;
    background-color: white;
    top: 254px;
    left: 254px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 16px;
}

#blurBox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    margin: 0;
    border-radius: 0;
    background-color: rgba(255,255,255,0.3);
}

@media screen and (max-width: 699px) {

    body {
        width: 414px;
        margin: 0px;
    }

    div {
        width: 375px;
        height: 67px;
    }

    #createDiv {
        margin-top: 87px;
        width: 375px;
        height: 60px;
        margin-left: 20px !important;
    }

    #create {
        width: 300px;
        left: 37px;
        height: 50px;
        top: 5px;
        border-radius: 30px;
        font-size: 30px;
    }

    .deleteButton, .editButton {
        top: 27px;
    }

    #blurBox {
        width: 434px;
        height: 100%;
        margin-left: -20px;
    }

    #createBox, #editBox {
        width: 375px;
        left: 20px;
        margin-left: 0;
        height: 199px;
    }

    #h2_create, #h2_edit {
        font-size: 25px;
    }

    #companyName, #editName {
        top: 42px;
        left: 5px;
        width: 348px;
        height: 40px;
        font-size: 20px;
    }

    #companyAddress, #editAddress {
        top: 93px;
        left: 5px;
        width: 348px;
        height: 40px;
        font-size: 20px;
    }

    #createButton, #editButton {
        top: 144px;
        left: 15px;
        color: #20C800;
        border-radius: 30px;
        -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 16px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 16px;
        font-size: 30px;
        width: 347px;
        height: 45px;
        border: none;
        background-color: white;
    }

}