* {
    padding: 0;
    margin: 0;
}

body {
    width: calc(100% - 40px);
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;;
    font-weight: normal;
    color: #767676;
    margin-left: 40px;
}



#plants {
    position: absolute;
    top: 0px;
    left: 99px;
    width: 1384px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#plants > div {
    position: relative;
    width: 642px;
    height: 366px;
    margin-left: 50px;
    margin-top: 50px;
    background-color: rgba(255,255,255,0.79);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border-radius: 30px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 16px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 16px;
}

#plants > div > h1 {
    font-size: 44px;
    position: absolute;
    left: 19px;
    top: 21px;
}

#plants > div > p {
    font-size: 11px;
    position: absolute;
    left: 19px;
    top: 75px;
}

#plants > div > div {
    height: 31px;
    width: 562px;
    position: absolute;
    left: 61px;
    background-color: rgba(255,255,255,0.79);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border-radius: 30px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 16px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 16px;
}

img {
    height: 31px;
    position: absolute;
}

.waterDrop {
    top: 100px;
    left: 23px;
}

.sun {
    top: 151px;
    left: 19px;
}

#sun {
    padding-left: 4px;
    padding-right: 4px;
}

.waterDropMoisture {
    top: 195px;
    left: 20px;
}

.temperatureIcon {
    top: 249px;
    left: 27px;
}

.moisture {
    top: 100px;
    overflow: hidden;
}

.light {
    top: 151px;
    overflow: hidden;
}

.humidity {
    top: 200px;
    overflow: hidden;
}

.temperature {
    top: 249px;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(1,128,255,1) 0%, rgba(255,0,0,1) 100%);
}

.light > span {
    display: block;
    height: 110%;
    background-color: #FFD800;
    margin-bottom: -10px;
}

.moisture > span {
    display: block;
    height: 31px;
    background-color: #0093FF;
}

.humidity > span {
    display: block;
    height: 31px;
    background-color: #00C4FF;
}

.temperature > span {
    display: block;
    height: 31px;
    background-color: white;
    float: right;
    right: 0px;
    box-shadow: 0px 1px 0px 0px #FFFFFF;
    -webkit-box-shadow: 0px 1px 0px 0px #FFFFFF;
}

#plants > div > button {
    position: absolute;
    color: #767676;
    top: 303px;
    left: 233px;
    border-radius: 30px;
    -webkit-box-shadow: rgb(0 0 0 / 20%) 0px 3px 16px;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 16px;
    font-size: 30px;
    width: 176px;
    height: 43px;
    border: none;
    background-color: white;
}

#sensor_name {
    position: absolute;
    left: 440px;
    top: 460px !important;
}

#save_changes {
    position: absolute;
    left: 485px;
    top: 530px;
}

#infoAndEditBox {
    z-index: 100;
    position: absolute;
    display: none;
    height: 800px;
    width: 1100px;
    background-color: rgba(255,255,255,0.79);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border-radius: 30px;
    top: calc(50% - 400px);
    left: calc(50% - 550px);
    -webkit-transform: scale(100vh/1080);
    -ms-transform: scale(100vh/1080);
    transform: scale(100vh/1080);
    -webkit-box-shadow: rgb(0 0 0 / 20%) 0px 3px 16px;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 16px;
}

#blurBox {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    margin: 0;
    border-radius: 0;
    background-color: rgba(255,255,255,0.3);
    backdrop-filter: blur(30px);
    -webkit-box-shadow: rgb(0 0 0 / 20%) 0px 3px 16px;
    -webkit-backdrop-filter: blur(30px);
}

#infoAndEditBox > select {
    position: absolute;
    border: none;
    border-radius: 15px;
    -webkit-box-shadow: rgb(0 0 0 / 20%) 0px 3px 16px;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 16px;
    font-size: 24px;
    padding-left: 17px;
    height: 53px;
    color: #434343;
    top: 10px;
    width: 220px;
    left: 210px;

}

#infoAndEditBox > input {
    position: absolute;
    border: none;
    border-radius: 15px;
    -webkit-box-shadow: rgb(0 0 0 / 20%) 0px 3px 16px;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 16px;
    font-size: 24px;
    height: 53px;
    color: #434343;
    top: 10px;
    width: 220px;
}

#dateFrom {
    left: 440px;
}

#dateTo {
    left: 670px;
}

#chartBox {
    position: absolute;
    width: 100%;
    height: 300px;
    top: 83px;
}

#buttons {
    position: absolute;
    width: 250px;
    height: 50px;
    top: 380px;
    left: 425px;
    display: flex;
    flex-direction: row;
}

#buttons > img {
    position: relative;
    height: 50px;
    margin:auto;
    border-radius: 15px;
    -webkit-box-shadow: rgb(0 0 0 / 20%) 0px 3px 16px;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 16px;
    padding-bottom: 5px;
    padding-top: 5px;
}

#waterDrop {
    padding-left: 10px;
    padding-right: 10px;
}

#waterDropMoisture {
    padding-left: 10px;
    padding-right: 10px;
}

#temperatureIcon {
    padding-left: 17px;
    padding-right: 18px;
}

@media screen and (max-width: 699px) {

    body {
        width: 414px;
        top: 0;
        margin: 0;
    }

    #plants {
        width: 404px;
        left: 10px;
        top: 50px;
    }

    #plants > div {
        width: 396px;
        margin-left: 0;
    }

    #plants > div > div {
        width: 315px;
    }

    #plants > div > button {
        left: 119px;
    }

    #infoAndEditBox {
        width: 396px;
        height: 600px;
        top:90px;
        left:8px
    }

    #buttons {
        left: 77px;
        top: 460px;
    }

    #blurBox {
        height: calc(100% + 87px);
        top: -87px;
        left: -10px;
        position: sticky;
        position: -webkit-sticky;
    }

    #infoAndEditBox > input, #infoAndEditBox > select {
        width: 350px;
        left: 5px;
        height: 41px;
        font-size: 20px;
    }

    #infoAndEditBox > select {
        width: 369px;
    }

    #infoAndEditBox > #dateFrom {
        top: 56px;
    }

    #infoAndEditBox > #dateTo {
        top: 102px;
    }

    #chartBox {
        top: 150px;
    }

}
